.product-list-container {
  @include ls_contentWrapper;

  .user-sorting-form {
    form {
      @include ls_sameLine;
      text-align: right;
    }
  }

  .pagination-and-sorting-container {
    display: flex;
    flex-wrap: wrap;

    .pagination-container {
      margin: auto 0;

    }

    .user-sorting-form {
      margin-left: auto;

      button.submit {
        padding-left: 1rem;
        padding-right: 1rem;
      }
    }

    @include media-breakpoint-down(5, $grid-breakpoints-ls) {
      .pagination-container {
        margin: $grid-gutter-width-super-small 0 0;
        width: 100%;

        nav {
          text-align: center;
        }
      }

      .user-sorting-form {
        margin: $grid-gutter-width-super-small auto 0;
      }
    }
  }
}

.product-list {
  @include make-row();

  .shopProduct {
    margin-top: $grid-gutter-width;

    @include make-col-ready();
    @include media-breakpoint-up(6, $grid-breakpoints-ls) {
      @include make-col(6);
    }
    @include media-breakpoint-up(12, $grid-breakpoints-ls) {
      @include make-col(4);
    }
    @include media-breakpoint-up(16, $grid-breakpoints-ls) {
      @include make-col(3);
    }
  }

  .sliding-area .shopProduct {
    /*
     * Fixing an incompatibility between bootstrap grid and lsjs slider
     */
    max-width: unset;
  }
}