body.lsjs-active .variantSelector:not(.variantSelectorInstance_view-loaded) {
  display: none;
}

body:not(.lsjs-active) .variantSelector {
  .variantSelectorWidget:not(:first-child) {
    margin-top: $grid-gutter-width-small;

    @include make-row();

    label {
      @include make-col-ready();
      @include make-col(4);
    }
    select {
      @include make-col-ready();
      @include make-col(8);
    }
  }

  .variantSelectorSubmit {
    margin-top: $grid-gutter-width-small;
  }
}

.variant-selector-interface {
  margin-top: $grid-gutter-width;
  .attributeBox {
    .attribute-header {
      .selected-value-info {
        display: block;
        height: 3rem;
        overflow: hidden;
        transition: height 0.6s ease-out;

        &.selection-required {
          color: $ls-color-red;
        }
      }
    }

    .value {
      padding: $grid-gutter-width-super-small;
      margin-left: $grid-gutter-width-small;
      position: relative;
      cursor: pointer;

      &:not([data-lsjs-class*="possible"]):not(:hover) {
        opacity: .3;
      }

      &[data-lsjs-class*="selected"],
      &[data-lsjs-class*="only-option"]{
        cursor: default;
        position: relative;

        &::before {
          @extend .fas;
          content: fa-content($fa-var-check);
          position: absolute;
          left: -1rem;
          top: 1.9rem;
        }
      }
    }
  }

  &.standard {
    @include make-row();

    .attributeBox {
      margin-top: $grid-gutter-width;

      @include make-col-ready();
      @include media-breakpoint-up(11) {
        @include make-col(6);
      }
      @include media-breakpoint-up(16) {
        @include make-col(4);
      }

      .attribute-header {
        .selected-value-info {
          &:not(.selection-required) {
            display: none;
          }
        }
      }
    }
  }

  &.folded {
    .attributeBox {
      //border: 0.1rem solid $ls-color-black;
      //padding: $grid-gutter-width-super-small;

      &:not(:first-child) {
        margin-top: $grid-gutter-width-small;
      }

      &.lsUnfoldOpen:not(.lsUnfoldRunning),
      &.lsUnfoldClosed.lsUnfoldRunning{
        .attribute-header {
          .selected-value-info {
            height: 0;
          }
        }
      }

      .attribute-headline {
        cursor: pointer;
        border-bottom: 0.1rem solid $ls-color-black;
      }

      .selected-value-info {
          cursor: pointer;
      }
    }
  }
}