.template_productOverview {
  .imageContainer {
    position: relative;
  }

  .bottomWrapper {
    margin-top: $grid-gutter-width-super-small;
  }

  .oldPrice {
    text-decoration: line-through;
    color: $ls-color-red;
  }

  .currentPrice {
    font-weight: $ls-font-weight-bold;

    .min-quantity-info {
      font-weight: normal;
    }
  }
}