.product-list-container {
  @include ls_contentWrapper;

  .user-sorting-form {
    form {
      @include ls_sameLine;
      text-align: right;
    }
  }
}

.product-list {
  @include make-row();

  .shopProduct {
    margin-top: $grid-gutter-width;

    @include make-col-ready();
    @include media-breakpoint-up(6, $grid-breakpoints-ls) {
      @include make-col(6);
    }
    @include media-breakpoint-up(12, $grid-breakpoints-ls) {
      @include make-col(4);
    }
    @include media-breakpoint-up(16, $grid-breakpoints-ls) {
      @include make-col(3);
    }
  }

  .sliding-area .shopProduct {
    /*
     * Fixing an incompatibility between bootstrap grid and lsjs slider
     */
    max-width: unset;
  }
}