.product-status-icon-wrapper {
  position: absolute;
  z-index: 9;
  left: 1rem;
  top: 1rem;

  .product-status-icon {
    font-size: 1.5rem;

    @include media-breakpoint-up(8) {
      font-size: 2rem;
    }

    @include media-breakpoint-up(10) {
      font-size: 2.5rem;
    }

    padding: 0.2rem 0.5rem;
    border: 0.3rem solid $ls-color-black;
    background-color: rgba($ls-color-white, 0.7);
    color: $ls-color-black;
    display: inline-block;

    &:not(:last-child) {
      margin-right: 0.5rem;
    }

    &.is-on-sale {
      background-color: rgba($ls-color-red, 0.7);
      color: $ls-color-white;
    }

    &.is-new {
      background-color: rgba($ls-color-white, 0.7);
    }
  }
}

.template_productDetails_01 {
  @include ls_contentWrapper;

  .shop-product {
    margin-top: $grid-gutter-width-small;
    @include make-row();

    .wrapper-gallery {
      @include make-col-ready();
      @include media-breakpoint-up(6) {
        @include make-col(5);
      }
      @include media-breakpoint-up(8) {
        @include make-col(6);
      }
    }
    .wrapper-price-etc {
      @include make-col-ready();
      @include media-breakpoint-up(6) {
        @include make-col(7);
      }
      @include media-breakpoint-up(8) {
        @include make-col(6);
      }
    }
    .wrapper-description {
      @include make-col-ready();
    }
  }

  .wrapper-gallery {
    position: relative;

    .wrapper-gallery-inside {
      position: relative;
    }
  }

  .priceContainer {
    text-align: right;
  }

  .oldPrice {
    font-size: $ls-font-size-h3;
    @include ls_decreaseFontSizes($ls-font-size-h3);
    text-decoration: line-through;
    color: $ls-color-red;
  }
  .finalPrice {
    font-size: $ls-font-size-h1;
    @include ls_decreaseFontSizes($ls-font-size-h1);
  }

  .basePrice,
  .configuratorPrice {
    font-size: $ls-font-size-h4;
    @include ls_decreaseFontSizes($ls-font-size-h4);
  }

  .scale-prices {
    margin-top: $grid-gutter-width-super-small;

    .finalPrice {
      font-size: $ls-font-size-h3;
      @include ls_decreaseFontSizes($ls-font-size-h3);
    }

    .basePrice,
    .configuratorPrice {
      font-size: $ls-font-size-body;
      @include ls_decreaseFontSizes($ls-font-size-body);
    }

    [data-lsjs-element="elementFolderToggler"] {
      cursor: pointer;

      &::before {
        @extend .fas;
        margin-right: 0.5rem;
      }

      &.lsUnfoldClosed,
      &.lsUnfoldOpen.lsUnfoldRunning {
        &::before {
          content: fa-content($fa-var-caret-square-down);
        }
      }

      &.lsUnfoldOpen,
      &.lsUnfoldClosed.lsUnfoldRunning {
        &::before {
          content: fa-content($fa-var-caret-square-up);
        }
      }
    }

    .scalePriceStep {
      margin-top: $grid-gutter-width-super-small;
      border-top: 0.1rem dotted $ls-color-dark-grey;
      padding-top: $grid-gutter-width-super-small;
      display: flex;
      justify-content: space-between;
    }
  }

  .tax-and-shipping-info {
    margin-top: $grid-gutter-width-super-small;
  }

  .deliveryMessageContainer {
    margin-top: $grid-gutter-width-super-small;
  }

  .hasBeenPutInCart {
    @include ls_autohideCenterMessage;
  }
  .notPutInCart {
    @include ls_autohideCenterMessage;
  }
  .favoriteSwitchBox,
  .restockInfoListSwitchBox {
    margin-top: $grid-gutter-width-small;

    > .success {
      @include ls_autohideCenterMessage;
    }
  }

  .lsjs-slider-applied {
    .navigation-dots-container {
      text-align: left;
    }
  }

  .productTitle {
    border-bottom: 0.1rem solid currentColor;
    padding-bottom: $grid-gutter-width-super-small;
  }

  .configurator-container,
  .contact-product,
  .description {
    margin-top: $grid-gutter-width;
  }

  .backButton {
    & > a::before {
      @extend .fas;
      content: fa-content($fa-var-long-arrow-alt-left);
      margin-right: 1rem;
    }
  }
}