.variantSelectorInstance .attributeBox {
  width: 100%;
  .value {
    padding: $grid-gutter-width-super-small;
    position: relative;
    border-left: 0.1rem solid transparent;
    cursor: pointer;
  }
  .value:not([data-lsjs-class*="possible"]) {
    opacity: .3;
  }
  .value[data-lsjs-class*="selected"] {
    border: 0.1rem solid $ls-color-grey;
    border-left: 0.1rem solid;
    cursor: default;
  }
}