.conditionalFormApplied [data-lsjs-element="deviantShippingAddress"].hideDeviantShippingAddress {
  display: none;
}

.conditionalFormApplied label.mandatory::after {
  content: "*";
  display: inline-block;
}

.conditionalFormApplied label.mandatory .mandatory {
  display: none;
}

.hideElement{
  display:none !important;
}