.add-to-cart-container {
  margin-top: $grid-gutter-width-super-small;

  &.empty {
    display: none;
  }

  .add-to-cart {
    @include ls_sameLine;
  }

  .quantity-input {
    label {
      display: none;
    }
    input {
      max-width: 7.5rem;
      -moz-appearance: textfield;
    }
  }
}